.navbar{
    width: 1900px;
    height: 157px;
    position: relative;
    z-index: 4;
    background: linear-gradient(#b66f36 0%, #b66f23 100%);      
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin: 0 auto;
    
}

.container{
    width: 1900px;
    height: auto;
    background-color: #f0f0f0;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
}

.hero{
    left: 0;
    right: 0;
    width: 1366px;
    height: 605px;
    object-fit: cover;
    margin:0 auto;
    position: absolute;
}

.hero-text{
    font-family:'Open Sans';font-weight: normal;font-size: 75px;line-height: 75px;text-align: left;color: #fffafa;text-shadow: -5px 6px 20px rgba(0, 0, 0, 0.44);
    position: absolute;
    z-index: 2;
    margin-top: 200px ;
    margin-left: 50px;
}

.logo-ellipse{
    width: 321px;
    height: 321px;
    background: #fff;
    border: 3px solid #a86e2f;
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
    border-radius: 50%;
}

.logo{
   height: 230px;
   width: 275px;
   margin-top: 30px;
   margin-left: 23px;
}

.nav-option{
   width: 1366px;
   height: 75px;
   left: 0;
   right: 0;
   bottom: 0;
   margin: 0 auto;
   position: absolute;
   z-index: 4;
}

.nav-font{
 
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 25px;
    text-align: left;
    color: #fffafa;
    float:  left;
    padding-left:11px;
    padding-right: 11px;
}

.wordsbox{
    left: 0;
    right: 0;
    width: 1366px;
    height: 605px;
    object-fit: cover;
    margin:0 auto;
    position: absolute;
}

.cards{
    width: 1366px;height: 280px; left: 0; right: 0; margin: auto; margin-top: 20px;display: grid;grid-column-gap: 62px;grid-template-columns: auto auto auto auto; 
}

.image{
    width: 295px;
    height: 280px;
    position: absolute;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #b66523;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .card-item:hover .overlay {
    bottom: 0;
    height: 100%;
  }

  .text {
    white-space: nowrap; 
    color: white;
    font-size: 25px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .card-item{
     position: relative;
  }

.product{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin:0 auto;
    position: absolute;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink:0;
    width: 400px;
    height: 400px;
}
