* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body {
  font-family: "Josefin Sans", sans-serif;
}

.navbar {
  width: 100vw;
  max-width: 100%;
  font-size: 18px;
  background-image: linear-gradient(60deg, #ab5e17 0%, #b66f36 100%);
  z-index: 4;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

.main-nav {
  list-style-type: none;
  display: none;
  padding: 0.5em;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 2em auto;
}

.logo {
  display: inline-block;
  font-size: 1.5em;
  margin-top: 0.2em;
  z-index: 2;
}


.navbar-toggle {
  position: absolute;
  top: 0.8em;
  right: 0;
  margin-right: 3vw;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 950px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
      top: 0;
      position: fixed;
    
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
    font-size: 22px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }


  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
  
  .event-box{
    width: 92vw;
    background-image: url('pictures/pexels-freestocksorg-96380.jpg');
    background-size: cover;
    background-position: 100% 45%;
    height: 15vw;
    top: 5em;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
  }
  
  .event-button{
    position: absolute;
    z-index: 2;
    text-decoration: none;
    padding: 0.8em;
    font-size: 1.5vw;
    background-color: white; 
    color:#6d3e0b ;
    border-radius: 0.2em;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    }

    .event-button:hover{
      color: white;
      background-color: hsla(0, 0%, 94%, 0.5);
    }

    .event-text{
      top: 50%;
    left: 0%;
    transform: translate(+20%, -50%);
      position: absolute;
      font-size: 3vw;
      color: white;
    }

    .cards{
      position: relative;
      top:6em;
      width: 92vw;
      max-width: 100%;
         display: grid;
        margin: auto;
         grid-gap:1vw;
        grid-template-columns: auto auto auto; 
    }
    .image{
        
        width: 30vw;
        height: 45vw;
        display: flex;
        justify-content: center;
        object-fit: cover;
        border-radius: 2vh;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    }
    
    .card-box{
      top:40vw;
      position: absolute;
      width: 30vw;
      height: 25vw;
      background-color: #E18946;
      z-index:1;
      border-radius:0 0 2vh 2vh;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    }
    
    .card-name{
      background-color: white;
      width: 30vw;
      height: 5vw;
      color: #5D2E0B;
      font-size: 2vw;
      text-align: center;
      padding: 1.5vw;
    }

    .card-button{
      text-decoration: none;
    padding: 0.8em;
    margin: 7vw;
    margin-top:1vw;
    font-size: 1.25Vw;
    background-color: white; 
    color:#6d3e0b ;
    border-radius: 0.5vw;
    text-align: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.10);
    transition: 0.3s;
    }

    .card-button:hover{
      color: white;
      background-color: hsla(0, 0%, 94%, 0.5);
    }

    .card-item{
      width: 30vw;
      height: 45vw;
       margin:auto;
      margin-left: auto;
      margin-right: auto;
        position: flex;
       justify-content: center;
       align-items: center;
    }
    
}
